<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h3>Sign-Up</h3>
        <form [formGroup]='userInfo' class="box" (ngSubmit)="onSubmit()">
            <div class="form-group"  >
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" formControlName="email">
                <span *ngIf= " userInfo.get('email').hasError('required') &&
                    (userInfo.get('email').touched || userInfo.get('email').dirty) ">
                    *Email is required
                </span>
                <span *ngIf="userInfo.get('email').hasError('email') &&
                (userInfo.get('email').touched || userInfo.get('email').dirty) ">
                    Not a valid email
                </span>
                
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password">                
            
            <div class="error-messages">
				<ng-container *ngFor="let error of error_messages.password">
                    <div class="error-message" 
                    *ngIf="userInfo.get('password').hasError(error.type) && (userInfo.get('password').dirty
                     || userInfo.get('password').touched)"
                     style="color:red">
						{{ error.message }}
                </div>
				</ng-container>
            </div>
        </div>
            <div class="form-group">
                <label for="cnfpassword">Confirm Password</label>
                <input type="password" id="cnfpassword" class="form-control" formControlName="cnfpassword">
            
            <div class="error-messages">
				<ng-container *ngFor="let error of error_messages.confirmpassword">
                    <div class="error-message" 
                    *ngIf="userInfo.get('cnfpassword').hasError(error.type) &&
                     (userInfo.get('cnfpassword').dirty||
                      userInfo.get('cnfpassword').touched)"
                      style="color: red;">
						{{ error.message }}
					</div>
				</ng-container>
            </div>
        </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <select class="custom-select from-control" id="gender" formControlName="gender">
                    <option value="" selected disabled hidden>Select geneder</option>
                    <option value="Male" >Male</option>
                    <option value="Female" >Female</option>
                    <option value="Other" >Other</option>
                </select>
            </div>
            <div class="custom-control custom-checkbox form-group">
                <input type="checkbox" class="custom-control-input" id="defaultChecked2" formControlName="accept">
                <label class="custom-control-label" for="defaultChecked2">Accept</label>
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="!userInfo.valid" class="btn btn-info btn-lg">Save</button>
                <button  type="reset" class="btn btn-danger btn-lg float-right">Cancel</button>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        
    </div>
</div>