
body{
    background-color: blue;
}
h3{
    text-align: center;
    padding: 8px;
    margin: 10px;
    font-weight: bold;
}
form{
    background-color: white;
    
}

span{
    color:red;

}

input.ng-invalid.ng-touched
{
    border-color: red;
}
form.box{
    background-color: white;
    padding: 30px;
    border: 2px solid rgb(185, 182, 182);
    border-radius: 5%;
    box-shadow: 10px 10px 10px 3px rgb(21, 75, 116);
}