h2{
    margin: 10px;
    text-align: center;
}
button{
    position: relative;
    margin: auto;
}
table{
   margin: 50px;
    border: 1px solid rgb(250, 245, 172);
    
}
th,thead,tbody,td,tr{
    text-align: center;
    border: 3px solid black;
    padding: 5px;
}
